# python/venv
.venv/
venv/
**/.venv/
**/venv/
__pycache__/
**/__pycache__/
**/*.pyc

# git + cache
.git/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/

# mlflow / outputs
mlruns/
mlflow.db
backend/CounterArg_Service/pipeline/outputs/
backend/CounterArg_Service/pipeline/data/

# datasets / big files (au cas où)
data/
datasets/
*.zip
*.rar
*.tar
*.tar.gz
*.7z

# OS
.DS_Store
Thumbs.db
