fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
python-dotenv==1.0.1
httpx==0.27.2
pytest==8.3.2

transformers==4.44.2
accelerate==0.33.0
safetensors==0.4.4
sentencepiece==0.2.0
protobuf<5,>=3.20

# RAG (CPU)
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
numpy==1.26.4
tqdm
requests

mlflow==2.15.1
